<h2>Send notification to customer</h2>

<%= form_for @notification, :url => url_for(:controller => 'tickets', :action => 'send_notification', :reference_key=>@ticket.reference_key) do |f| %>
    <div>
      <%= f.text_area :notification, :size => '80x10' %>
    </div>
    <div class="actions">
      <%= f.submit "Send" %>
    </div>
<% end %>

