<p id="notice">Ticket</p>

<p>
  <strong>Customer:</strong>
  <%= @ticket.customer_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %>
