<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hello <%= @ticked.customer_name %> </h3>
<p>
  You have successfully added new ticket.<br>
</p>
<p>
  To see it status, just follow this <%= link_to 'link', root_url(:only_path => false, :controller => 'tickets') + '/' + @ticked.reference_key %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>